doctype html
html
  head
    title FarmEasy
    block scripts
    block style
  Body
    nav 
      ul#navbar
        li.item #[a(href="/" class="active") Home]
        li.item #[a(href="/Community") Community]
        li.item #[a(href="/Login") Login]
        li.item #[a(href="/Services") Services]
        li.item #[a(href="/Food") Food Security]

    block content
    footer#footer
      |Copyright 2019 FarmEasy | All Rights Reserved