extends base.pug

block scripts
  script(src='/static/index.js')

block style 
  style 
    include ../static/base.css
    include ../static/community.css
block content 
    //- img(src=" img/community.jpg", alt="Community")