extends base.pug

block scripts
  script(src='/static/index.js')

block style 
  style 
    include ../static/home.css
    include ../static/base.css

block content
  h2.head Introduction 
  div.intro
    |In today’s modern world, with the so many technologies, the life of the people has become very simple and easy, but the way new opportunities are opening up for the general public, at the same place technology is being developed for the farmers.  Despite having so many inventions, they are facing a lot of problems.

    |Although the situation has definitely improved from before, but due to many problems, the farmers have lack proper information.  Due to not getting the right price of food grains around their residence, they do not get the price of their rights.

    |Due to non-availability of the right advanced seeds in the beginning of farming, there is a decrease in the yield, along with the lack of the right quality seeds also makes a difference in the crops.

    |According to the places, due to the lack of machines for farming, they also have to face a lot of difficulties in farming.

    |So by this Website and the features which is added in this and by that ways of ideas Farmers problem will be solved to a great extent.

    