.details{
    font-weight: 400;
    font-size: 1.7rem;
}

.container h1{
    margin: 6px 8px;
    padding: 8px 6px;
}
.security{
    /* list-style-type: upper-latin;*/
    list-style-position: inside;
    font-weight: 500;
    font-size: 1.5rem;
}